# SPDX-FileCopyrightText: The dolt-installer Authors
# SPDX-License-Identifier: 0BSD

name: test-dolt-installer
on:
  pull_request:
  push:
    branches:
      - main
jobs:
  test-using-defaults:
    name: Using Defaults on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Dolt
      uses: ./
    - name: Verify Installation
      run: dolt version
    - name: Check root directory
      shell: bash
      run: |
        [[ -z $(git diff --stat) ]]
  test-using-custom-installer-directory:
    name: Custom Installer Directory on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dolt
        uses: ./
        with:
          install-directory: "$HOME/.dolttest"
      - name: Verify Installation
        run: dolt version
      - name: Check Installation Directory
        shell: bash
        run: |
          [[ $(dirname "$(which dolt)") == "$HOME/.dolttest" ]]
      - name: Check root directory
        shell: bash
        run: |
          [[ -z $(git diff --stat) ]]
  test-using-custom-version:
    name: Custom Version on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dolt
        uses: ./
        with:
          version: "0.40.30"
      - name: Verify Installation
        run: dolt version
      - name: Check Version
        shell: bash
        run: |
          [[ $(dolt version | grep -c '0.40.30') -eq 1 ]]
      - name: Check root directory
        shell: bash
        run: |
          [[ -z $(git diff --stat) ]]
  test-using-custom-prefixed-version:
    name: Custom Prefixed Version on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dolt
        uses: ./
        with:
          version: "v0.40.30"
      - name: Verify Installation
        run: dolt version
      - name: Check Version
        shell: bash
        run: |
          [[ $(dolt version | grep -c '0.40.30') -eq 1 ]]
      - name: Check root directory
        shell: bash
        run: |
          [[ -z $(git diff --stat) ]]
  test-existing-release:
    name: Released Version on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Dolt
        uses: sebhoss/dolt-installer@v1
        with:
          version: "v0.40.30"
          install-directory: "$HOME/.dolttest"
      - name: Verify Installation
        run: dolt version
      - name: Check Version
        shell: bash
        run: |
          [[ $(dolt version | grep -c '0.40.30') -eq 1 ]]
      - name: Check root directory
        shell: bash
        run: |
          [[ -z $(git diff --stat) ]]
